@CHARSET "ISO-8859-1";

body {
	background-image: url("backgrounds/moon.jpg");
	background-position:center;
	background-repeat: no-repeat;
}

h1,h2,h3,p { 
	color: white;
	text-align: center;
	background-color: black;
}


button {
	
	background-color: green;
	font-size: 20px;
	
}





.container {
	width: 800px;
	height: 600px;
    margin: 0 auto;
    text-align: center;
}

.textfield {
	width: 700px;
	height: 500px;
	background-color: black;
}



